# Segmenting and Clustering Neighborhoods in Toronto

### Scape the webpage

In [26]:
import requests
import urllib.request
import time
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
response = requests.get(url)

In [5]:
scrape = BeautifulSoup(response.text, 'html.parser')

In [6]:
scrape.findAll('M')

[]

In [33]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [34]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Remove cells where "Not assigned"

In [35]:
df = df[~df['Borough'].isin(['Not assigned'])]
  
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

### Combine rows with same postal code

In [40]:
data = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

data.head()


#df.to_csv("data.csv", index=False)

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

###  If a cell as a borough but no assigned neighbourhood then the neighbourhood will have the borough

In [41]:
df.loc[df['Neighbourhood'] == ('Not assigned'), 'Neighbourhood'] = df['Borough']

In [42]:
data.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

### Using the shape method to print number of rows in the dataframe

In [43]:
print(data.shape)

(103, 3)